{% assign cards = site.cards %}
{% assign cards_sorted = cards | sort: 'card_number' %}
{% for card in cards_sorted %}
{% assign share_image = "share_image_group_" | append: card.group | append: '.jpg' %}
{% for group in site.data.groups %}
    {% if group.name == card.group %}
    {% assign share_path = group.path %}
    {% assign share_title = group.title %}
    {% assign share_dek = group.dek %}
    {% endif %}
{% endfor %}
<div class="modal {{ card.group }}" id="{{ card.id }}" data-group="{{card.group}}" data-next="{{ card.next}}" data-prev="{{ card.prev }}" data-js="{% if card.js %}{{ card.js | asset_path }}{% endif %}" data-css="{% if card.css %}{{ card.css | asset_path }}{% endif %}" data-function="{{ card.function }}" data-arguments="{{ card.arguments }}" data-image="{{ share_image | asset_path }}" data-path="{{ share_path }}" data-title="{{ share_title }}" data-dek="{{ share_dek }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ card.title }}</h4>
      </div>
      <div class="modal-body">
          {% if card.dek %}<p class="lead">{{ card.dek }}</p>{% endif %}
          {{ card.content }}
        <div class="social-block">
            <a target="_blank" href="http://www.twitter.com/share?text={{ share_title | url_escape }}&url=http://bottomlines.tyeesolutions.org{{ share_path }}"><span class='share-button share-twitter-large'></span></a>
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://bottomlines.tyeesolutions.org{{ share_path }}"><span class='share-button share-facebook-large'></span></a>
            <!--<span class='share-button share-email-large'></span>-->
        </div>
      </div>
      <div class="modal-footer">
        {% if card.prev %}
        <button type="button" class="btn btn-primary btn-prev" data-prev="{{ card.prev }}">Previous</button>
        {% endif %}
        {% if card.next %}
        <button type="button" class="btn btn-primary btn-next" data-next="{{ card.next }}">Next</button>
        {% endif %}
        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
