{% assign cards = site.cards %}
{% assign cards_sorted = cards | sort: 'card_number' %}
{% for card in cards_sorted %}
<div class="modal {{ card.group }}" id="{{ card.id }}" data-group="{{card.group}}" data-next="{{ card.next}}" data-prev="{{ card.prev }}" data-js="{% if card.js %}{{ card.js | asset_path }}{% endif %}" data-css="{% if card.css %}{{ card.css | asset_path }}{% endif %}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ card.title }}</h4>
      </div>
      <div class="modal-body">
          {% if card.dek %}<p class="lead">{{ card.dek }}</p>{% endif %}
          {{ card.content }}
      </div>
      <div class="modal-footer">
        {% if card.prev %}
        <button type="button" class="btn btn-primary btn-prev" data-prev="{{ card.prev }}">Previous</button>
        {% endif %}
        {% if card.next %}
        <button type="button" class="btn btn-primary btn-next" data-next="{{ card.next }}">Next</button>
        {% endif %}
        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
