<article id="intro" data-chapter-number="0" data-title="Bottom Lines | A quarter-century report on Canada's natural security." data-dek="Our review covered Canada’s record on water, land and air, as well as species, ecosystems and climate change." data-path='/' data-image="{{ 'share_image_intro.jpg' | asset_path }}">
    <header class="fullscreen">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    <section class="slide intro">
                        <div class="row hidden-xs">
                            <div class="col-xs-3">
                                <a href="http://tyeesolutions.org/" title="Find out more about the Tyee Solutions Society"target="_blank">{% image TSS-logo-outlines-white-rgb.svg class="img-responsive tss-logo" alt="TSS logo" %}</a>
                            </div>
                            <div class="col-xs-1">
                                &nbsp;
                            </div>
                            <div class="col-xs-8">
                                <div class="row">
                                    <div class="col-xs-6">
                                        {% image elc_logo.png class="img-responsive logo" alt="" %}
                                    </div>
                                    <div class="col-xs-6">
                                        {% image gencon_logo.png class="img-responsive logo" alt="" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row visible-xs">
                            <div class="col-xs-4">
                                    {% image TSS-logo-outlines-white-rgb.svg class="img-responsive tss-logo" alt="TSS logo" %}
                            </div>
                            <div class="col-xs-8">
                                <div class="social-block">
                                    <span class='share-button share-twitter-large'></span>
                                    <span class='share-button share-facebook-large'></span>
                                    <span class='share-button share-email-large'></span>
                                </div>
                            </div>
                        </div>

                        <div class='title_block'>
                            <div class="social-block hidden-xs">
                                <span class="share-button share-twitter-large"></span>
                                <span class="share-button share-facebook-large"></span>
                                <span class="share-button share-email-large"></span>
                            </div>
                            <h1>Bottom <br />
                                Lines</h1>
                            <h2>A quarter-century report on Canada's natural security.</h2>
                            <div class="center-block" align="center"><a class="smooth" href="#intro-longform"><i class="next glyphicon glyphicon-chevron-down"></i></a></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </header>
