<article id="intro" data-chapter-number="0" data-title="Bottom Lines | A quarter-century report on Canada's natural security." data-dek="Our review covered Canada’s record on water, land and air, as well as species, ecosystems and climate change." data-image="">
    <header class="fullscreen">
                    <section class="slide intro">
                        <div class="row hidden-xs">
                            <div class="col-xs-3">
                                    {% image TSS-logo-outlines-white-rgb.svg class="img-responsive logo" alt="TSS logo" %}
                            </div>
                            <div class="col-xs-1">
                                &nbsp;
                            </div>
                            <div class="col-xs-8">
                                <div class="row">
                                    <div class="col-xs-6 sponsor">
                                        {% image elc_logo.png class="logo sponsor-logo" alt="" %}
                                    </div>
                                    <div class="col-xs-6 sponsor">
                                        {% image gencon_logo.png class="logo sponsor-logo" alt="" %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="social-block">
                                            <span class='share-button share-twitter-large'></span>
                                            <span class='share-button share-facebook-large'></span>
                                            <span class='share-button share-email-large'></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row visible-xs">
                            <div class="col-xs-4">
                                    {% image TSS-logo-outlines-white-rgb.svg class="img-responsive logo" alt="TSS logo" %}
                            </div>
                            <div class="col-xs-8">
                                <div class="social-block">
                                    <span class='share-button share-twitter-large'></span>
                                    <span class='share-button share-facebook-large'></span>
                                    <span class='share-button share-email-large'></span>
                                </div>
                            </div>
                        </div>

                        <div class='title_block'>
                            <h1>Bottom <br />
                                Lines</h1>
                            <h2>A quarter-century report on Canada's natural security.</h2>
                            <div class="center-block" align="center"><a class="smooth" href="#intro-longform"><i class="next glyphicon glyphicon-chevron-down"></i></a></div>
                        </div>
                    </section>
    </header>
