{% assign chapters = site.chapters %}
{% assign chapters_sorted = chapters | sort: 'chapter_number' %}
{% for chapter in chapters_sorted %}
{% if chapter.id == 'intro' %}
{% include chapter_header_intro.html %}
{% else %}
<article id="{{ chapter.id }}" data-chapter-number="{{ chapter.chapter_number }}" data-title="{{ chapter.seotitle }}" data-dek="{{ chapter.header_dek }}" data-image="{{ chapter.image }}">
    <header class="fullscreen">
                    <section class="slide intro">
                        <div class="social-block">
                            <span class='share-button share-twitter-large'></span>
                            <span class='share-button share-facebook-large'></span>
                            <span class='share-button share-email-large'></span>
                        </div>
                        <div class='title_block'>
                            <h1>{{ chapter.header_title }}</h1>
                            <h2>{{ chapter.header_dek }}</h2>
                            <div class="center-block" align="center"><a class="smooth" href="#{{ chapter.id }}-longform"><i class="next glyphicon glyphicon-chevron-down"></i></a></div>
                        </div>
                    </section>
    </header>
{% endif %}
    <section id="{{ chapter.id }}-longform" class="longform">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    <div class="social-block">
                        <span class='share-button share-twitter-large'></span>
                        <span class='share-button share-facebook-large'></span>
                        <span class='share-button share-email-large'></span>
                    </div>
                    {{ chapter.content }}

                </div>
            </div>
        </div>
    </section>
    <footer>
        
{% assign current = forloop.index %}
{% assign next = chapters_sorted[current] %}
{% if next %}
{% if next.id != 'styleguide' %}
                    <nav class="chapter chapter-next">
                        <a class="nav-item" data-nav="chapter/{{ next.id}}"  href="/#chapter/{{ next.id }}"><span class="lightface chapter-next-label">Next Chapter</span> {{ next.header_title }} <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </nav>

{% else %}
                    <nav class="chapter chapter-next">
                        <a class="nav-item" data-nav="chapter/intro" href="/#chapter/intro"><span class="lightface chapter-next-label">Back to</span>Introduction <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </nav>
{% endif %}
{% else %}
                    <nav class="chapter chapter-next">
                        <a class="nav-item" data-nav="chapter/intro" href="/#chapter/intro"><span class="lightface chapter-next-label">Back to</span>Introduction <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </nav>
{% endif %}
    </footer>
</article>
{% endfor %}
