<article id="intro">
    <header class="fullscreen">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    <section class="slide intro">
                        <div class="row hidden-xs">
                            <div class="col-xs-3">
                                <img src="/assets/TSS-logo-outlines-white-rgb.svg" class="img-responsive tss-logo" alt="TSS logo">
                            </div>
                            <div class="col-xs-1">
                                &nbsp;
                            </div>
                            <div class="col-xs-8">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <img src="/assets/Partner-logo-dummy-white-rgb.svg" class="img-responsive logo" alt="">
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="/assets/Partner-logo-dummy-white-rgb.svg" class="img-responsive logo" alt="">
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="/assets/Partner-logo-dummy-white-rgb.svg" class="img-responsive logo" alt="">
                                    </div>
                                    <div class="col-xs-3">
                                        <img src="/assets/Partner-logo-dummy-white-rgb.svg" class="img-responsive logo" alt="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="social-block">
                                            <span class='share-button share-twitter-large'></span>
                                            <span class='share-button share-facebook-large'></span>
                                            <span class='share-button share-email-large'></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row visible-xs">
                            <div class="col-xs-4">
                                <img src="/assets/TSS-logo-outlines-white-rgb.svg" class="img-responsive tss-logo" alt="TSS logo">
                            </div>
                            <div class="col-xs-8">
                                <div class="social-block">
                                    <span class='share-button share-twitter-large'></span>
                                    <span class='share-button share-facebook-large'></span>
                                    <span class='share-button share-email-large'></span>
                                </div>
                            </div>
                        </div>

                        <div class='title_block'>
                            <h1>Bottom <br />
                                Lines</h1>
                            <h2>A quarter-century report on Canada's natural security.</h2>
                            <div class="center-block" align="center"><a class="smooth" href="#intro-longform"><i class="next glyphicon glyphicon-chevron-down"></i></a></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </header>
