<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
      <ul class="list-inline">
            <li class="nav-label">Chapters<span class="hidden-xs hidden-sm">:</span></li>
            <li class="hidden-xs hidden-sm"><a href="/#chapter/last-in-class">1. Last Place</a></li>
            <li class="hidden-xs hidden-sm"><a href="/#chapter/air-and-water">2. Air &amp; Water</a></li>
            <li class="hidden-xs hidden-sm"><a href="/#chapter/species">3. Species</a></li>
            <li class="hidden-xs hidden-sm"><a href="/#chapter/climate">4. Climate</a></li>
            <li class="hidden-xs hidden-sm"><a href="/#chapter/environment">5. Environment</a></li>
            <li class="hidden-xs hidden-sm"><a href="/#chapter/about">About This Project</a></li>
      </ul>
  </div>
</nav>
