<nav id="menu" style="display:none;">
  <header>
      <h2>Bottom<br />
          Lines</h2>
  </header>
      <hr class="soften"/>
      <ul class="nav primary chapters">
        <li class="nav-label">Chapters:</li>
        <li><a href="/#chapter/last-in-class">1. Last Place</a></li>
        <li><a href="/#chapter/air-and-water">2. Air &amp; Water</a></li>
        <li><a href="/#chapter/species">3. Species</a></li>
        <li><a href="/#chapter/climate">4. Climate</a></li>
        <li><a href="/#chapter/environment">5. Environment</a></li>
      </ul>
      <hr class="soften"/>
      <ul class="nav secondary">
          <li><a href="/references">References</a></li>
          <li><a href="http://bottom-lines.tumblr.com/" class="tumblr">Updates</a></li>
          <li><a>Slides</a></li>
          <li><a href="/#chapter/about">About This Project</a></li>
      </ul> 
</nav>
