<nav id="menu" class="hidden">
  <header>
      <h2><a class="nav-item" data-nav="chapter/intro" href="/#chapter/intro">Bottom Lines</a></h2>
  </header>
      <hr class="soften"/>
      <ul class="nav primary chapters">
        <li><a class="nav-item" data-nav="chapter/intro" href="/#chapter/intro">Introduction</a></li>
        <li><a class="nav-item" data-nav="chapter/last-in-class" href="/#chapter/last-in-class">1. Last Place</a></li>
        <li><a class="nav-item" data-nav="chapter/air-and-water" href="/#chapter/air-and-water">2. Air &amp; Water</a></li>
        <li><a class="nav-item" data-nav="chapter/species" href="/#chapter/species">3. Species</a></li>
        <li><a class="nav-item" data-nav="chapter/climate" href="/#chapter/climate">4. Climate</a></li>
        <li><a class="nav-item" data-nav="chapter/economy" href="/#chapter/economy">5. Economy</a></li>
      </ul>
      <hr class="soften"/>
      <ul class="nav secondary">
          <li><a href="/references">References</a></li>
          <li><a target="_blank" href="http://bottom-lines.tumblr.com/" class="tumblr">Updates</a></li>
          <!--<li><a>Slides</a></li>-->
          <li><a class="nav-item" data-nav="chapter/about" href="/#chapter/about">About This Project</a></li>
      </ul> 
</nav>
