<nav id="menu" style="display:none;">
  <header>
      <h2>Bottom<br />
          Lines</h2>
  </header>
      <hr class="soften"/>
      <h3>Chapters</h3>
      <ul class="nav primary chapters">
          <li>Last Place</li>
          <li>Air &amp; Water</li>
          <li>Species</li>
          <li>Climate</li>
          <li>Environment</li>
      </ul>
      <hr class="soften"/>
      <ul class="nav secondary">
          <li>Updates</li>
          <li>Slides</li>
          <li>About This Project</li>
      </ul> 
</nav>
