                </div>
            </div>
        </div>
    </section>
    <section class="slide parallax">
        <div class="container">
            <div class="row">
                <div class="slide-text col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    <div class="social-block">
                        <span class='share-button share-twitter-large'></span>
                        <span class='share-button share-facebook-large'></span>
                        <span class='share-button share-email-large'></span>
                    </div>
