<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% include head.html %}
  <body class="{{ page.layout }}" id="{{ page.slug | 'front' }}">
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <noscript id="js-warning">
    This page requires Javascript. Your browser either doesn't support JavaScript or you have it turned off. Please enable JavaScript before you proceed.
    </noscript>
<nav class="hamburger persistent">
    <div class="button" title="Navigation">
        <i class="glyphicon glyphicon-align-justify"></i>
    </div>
</nav>
<div id="panel">
    {% include header.html %}

    <div id="content">
    {{ content }}
    </div>
</div>
<div id="modals">
</div>
{% include cards.html %}
{% include footnotes.html %}
{% include menu.html %}
{% include footer_scripts.html %}
{% javascript global.js %}
{% javascript app.js %}
<script>
$(function() {
    // Find all the articles in the page
    var articles = $('article');
    _.each(articles, function(article) {
        App.chapters.add({
            "id": article.id,
            "title": $(article).data('title'),
            "dek": $(article).data('dek'),
            "image": $(article).data('image')
        });
    });
    // Find all the modals in the page
    var modals = $('.modal');
    // Add them to a collection for easy management
    _.each(modals, function(modal) {
        App.cards.add({
            "id": modal.id,
            "group": $(modal).data('group'),
            "js": $(modal).data('js'),
            "css": $(modal).data('css'),
            "function": $(modal).data('function'),
            "arguments": $(modal).data('arguments')
        });
    });
    // Render the cards layout
    App.CardsLayout.render();
    // Start the app
    App.router = new App.Router();
    App.Layout.render().then(function() {
{% if site.mode != 'development' %}
        Backbone.history.start({ pushstate: true });
{% else %}
        Backbone.history.start();
{% endif %}
    });
    App.slideout = slideout;
    });
</script>
    </body>
</html>
